.hourly-weather {
  grid-area: footer;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: nowrap;
  
  overflow-x: scroll;
  list-style: none;
  
  &__list {
    flex: 0 0 18%;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 30px;

  }
}
