// Globally imported Sass file. Add sass variables, mixins, etc here!

// Weathericon variables
// $wi-path:                        "../../assets/fonts";
$wi-path:                        "./";
$wi-css-prefix:                  weather-icon;
$wi-font-family:                 weathericons;
