// Globally imported Sass file. Add sass variables, mixins, etc here!

// Weathericon variables
$font-path:                     "../../assets/fonts";
$wi-css-prefix:                  weather-icon;
$wi-font-family:                 weathericons;
$medium-breakpoint:              760px;
$large-breakpoint:               860px;