@font-face {
  font-family: $wi-font-family;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/#{$wi-font-family}-regular-webfont.woff2") format("woff2"),
    url("#{$font-path}/#{$wi-font-family}-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "M + 1p 100";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../assets/fonts/m-plus-rounded-1c-v10-latin-100.woff2") format("woff2"),
    url("../../assets/fonts/m-plus-rounded-1c-v10-latin-100.woff") format("woff");
}

@font-face {
  font-family: "M + 1p 300";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../assets/fonts/m-plus-rounded-1c-v10-latin-300.woff2") format("woff2"),
    url("../../assets/fonts/m-plus-rounded-1c-v10-latin-300.woff") format("woff");
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
}
body {
  background: #eee;
  font-family: 'M + 1p 300', Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'M + 1p 100', Arial, Helvetica, sans-serif;
}

.weather-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  &__single {
    grid-template-columns: 1fr;
  }
  
  &__main {
    grid-area: main;
  }

  &__sub-heading {
    font-size: 16px;
    font-family: 'M + 1p 100', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: auto minmax(20px, 1fr);
    column-gap: 10px;
    align-items: center;
    margin: 0;

    &:after {
      content: ' ';
      display: block;
      width: 100%;
      border-top: 0.5px solid #fff;
    }
  }
}
